@using NaniWeb.Data
@inject SettingsKeeper SettingsKeeper

@{
    var series = (Series) ViewData["Series"];
    var disqusEnable = bool.Parse(SettingsKeeper.GetSetting("EnableDisqus").Value);
    var siteUrl = SettingsKeeper.GetSetting("SiteUrl").Value;
    ViewData["Title"] = $"{series.Name}";
    ViewData["DisqusUrl"] = $"{SettingsKeeper.GetSetting("SiteUrl").Value}{Url.Action("Project", new {urlSlug = series.UrlSlug})}";
    ViewData["DisqusIdentifier"] = $"series_{series.UrlSlug}";
    ViewData["DisqusTitle"] = $"{series.Name} - {SettingsKeeper.GetSetting("SiteName").Value}";
    ViewData["FcmTopic"] = $"\"series_{series.Id}\"";
    ViewData["EnableAdsHere"] = true;
}

@section Header
{
    <meta property="og:site_name" content="@ViewData["SiteName"]"/>
    <meta property="og:title" content="@series.Name - @ViewData["SiteName"]"/>
    <meta property="og:image" content="@($"{siteUrl}/images/covers/{series.Id}_small.png")"/>
    <meta property="og:url" content="@($"{siteUrl}{Url.Action("Project", new {urlSlugs = series.UrlSlug})}")"/>
    <meta property="og:description" content="@series.Synopsis"/>
    <meta property="og:type" content="website"/>
    <partial name="_GoogleAnalytics"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
}

<partial name="_HomeNav"/>
<partial name="_AdsTopSlot"/>
<div class="container mt-3">
    <div class="mb-3">
        <img id="manga_page" class="img-fluid img-thumbnail mx-auto d-block rounded" src="~/images/covers/@($"{series.Id}.png")" alt=""/>
    </div>
    <div class="rounded border border-secondary">
        <div class="py-3 mx-3">
            <h3>@series.Name</h3>
            <strong>Author:</strong><span> @series.Author</span><br/>
            <strong>Artist:</strong><span> @series.Artist</span><br/>
            <strong>Synopsis:</strong><span> @series.Synopsis</span><br/>
            <strong>Scanlation Status:</strong><span> @series.Status</span>
            @if (bool.Parse(SettingsKeeper.GetSetting("EnableFcm").Value))
            {
                <br/>
                <div class="d-inline-flex flex-nowrap">
                    <strong>Subscribe:</strong>
                    <span class="ml-1">
                        <partial name="_FcmDiv"/>
                    </span>
                </div>
            }
        </div>
    </div>
    <partial name="_AdsMiddleSlot"/>
    <div class="my-3 rounded border border-secondary">
        <ul class="nav nav-tabs border-secondary pt-1 pl-1">
            <li class="nav-item pr-1">
                <a class="nav-link active show" data-toggle="tab" href="#chapter_list">Chapters</a>
            </li>
            @if (bool.Parse(SettingsKeeper.GetSetting("EnableDisqus").Value))
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active show mx-3 my-3" id="chapter_list">
                @if (series.Chapters.Count > 0)
                {
                    foreach (var chapter in series.Chapters)
                    {
                        <div class="row my-1">
                            <div class="col-8 text-truncate d-inline-flex flex-nowrap">
                                <a class="fas fa-download float-left mr-1" href="@Url.Action("Download", new {urlSlug = series.UrlSlug, chapterNumber = chapter.ChapterNumber})"></a>
                                <a class="float-left" href="@Url.Action("Project", new {urlSlug = series.UrlSlug, chapterNumber = chapter.ChapterNumber})">@(chapter.Volume > 0 ? $"Vol. {chapter.Volume} " : string.Empty)Ch. @(chapter.ChapterNumber)@(string.IsNullOrEmpty(chapter.Name) ? string.Empty : $" - {chapter.Name}")</a>
                            </div>
                            <div class="col-4 text-truncate">
                                <span class="float-right">@chapter.ReleaseDate.ToString("dd/MM/yyyy")</span>
                            </div>
                        </div>
                    }
                    if (series.MangadexInfo.DisplayLink)
                    {
                        <div class="row my-1">
                            <div class="col text-truncate d-inline-flex flex-nowrap justify-content-center">
                                <a href="https://mangadex.org/title/@series.MangadexInfo.MangadexId"><i class="fas fa-external-link-alt mr-1"></i>Previous Chapters</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center">
                        <h3>No chapters found.</h3>
                    </div>
                }
            </div>
            @if (bool.Parse(SettingsKeeper.GetSetting("EnableDisqus").Value))
            {
                <div class="tab-pane fade mx-3 my-3 disqus-container" id="comments">
                    <partial name="_DisqusDiv"/>
                </div>
            }
        </div>
    </div>
</div>
<partial name="_AdsBottomSlot"/>

@section Body
{
    <partial name="_DisqusScript"/>
    <partial name="_FcmScript"/>

    <script>
        $("#projects").addClass("active");
    </script>
}